<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kp_desk0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{0,0},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kp_desk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{277,0},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kp_desk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{554,0},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kp_desk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{0,256},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mj_desk0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{277,256},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mj_desk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{554,256},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mj_desk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{0,512},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mj_desk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{277,512},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mj_desk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{554,512},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nn_desk0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{0,768},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nn_desk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{277,768},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nn_desk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{554,768},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nn_desk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{0,1024},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nn_desk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{277,1024},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nn_desk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{554,1024},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nn_desk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{277,256}</string>
                <key>textureRect</key>
                <string>{{0,1280},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>desk.png</string>
            <key>size</key>
            <string>{831,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62e80dbadead6fd657f3f4dbd0e293e5:db76d147764e89aa93f5e100941b1d55:b47663ce9610bb1fdb7d43eb56926a05$</string>
            <key>textureFileName</key>
            <string>desk.png</string>
        </dict>
    </dict>
</plist>
