<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pokers-pokers_78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers-pokers_79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{1,167},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers-pokers_80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{1,333},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pokers.png</string>
            <key>size</key>
            <string>{124,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a0e09aef7a182e5c5b909052e50ac00:8424d9e442bba46b118f651b8f3416f4:ed01aede103b954563da09a41b41d1b8$</string>
            <key>textureFileName</key>
            <string>pokers.png</string>
        </dict>
    </dict>
</plist>
