<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jrfj_btn_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,114}</string>
                <key>spriteSourceSize</key>
                <string>{248,114}</string>
                <key>textureRect</key>
                <string>{{926,0},{248,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,114}</string>
                <key>spriteSourceSize</key>
                <string>{248,114}</string>
                <key>textureRect</key>
                <string>{{248,114},{248,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,114}</string>
                <key>spriteSourceSize</key>
                <string>{248,114}</string>
                <key>textureRect</key>
                <string>{{496,114},{248,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_btn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,114}</string>
                <key>spriteSourceSize</key>
                <string>{248,114}</string>
                <key>textureRect</key>
                <string>{{744,114},{248,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_btn_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,114}</string>
                <key>spriteSourceSize</key>
                <string>{248,114}</string>
                <key>textureRect</key>
                <string>{{1488,114},{248,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_btn_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,114}</string>
                <key>spriteSourceSize</key>
                <string>{248,114}</string>
                <key>textureRect</key>
                <string>{{1240,114},{248,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_btn_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,114}</string>
                <key>spriteSourceSize</key>
                <string>{248,114}</string>
                <key>textureRect</key>
                <string>{{1736,114},{248,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_btn_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,114}</string>
                <key>spriteSourceSize</key>
                <string>{248,114}</string>
                <key>textureRect</key>
                <string>{{992,114},{248,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_btn_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,114}</string>
                <key>spriteSourceSize</key>
                <string>{248,114}</string>
                <key>textureRect</key>
                <string>{{1422,0},{248,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_btn_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,114}</string>
                <key>spriteSourceSize</key>
                <string>{248,114}</string>
                <key>textureRect</key>
                <string>{{0,114},{248,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_btn_qingkong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,114}</string>
                <key>spriteSourceSize</key>
                <string>{248,114}</string>
                <key>textureRect</key>
                <string>{{1670,0},{248,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_btn_shanchu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,114}</string>
                <key>spriteSourceSize</key>
                <string>{248,114}</string>
                <key>textureRect</key>
                <string>{{1174,0},{248,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_kuang_anjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,430}</string>
                <key>spriteSourceSize</key>
                <string>{734,430}</string>
                <key>textureRect</key>
                <string>{{0,228},{734,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_kuang_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1052,559}</string>
                <key>spriteSourceSize</key>
                <string>{1052,559}</string>
                <key>textureRect</key>
                <string>{{734,228},{1052,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_kuang_fangjianhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,57}</string>
                <key>spriteSourceSize</key>
                <string>{371,57}</string>
                <key>textureRect</key>
                <string>{{165,0},{371,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_kuang_lishifangjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,57}</string>
                <key>spriteSourceSize</key>
                <string>{195,57}</string>
                <key>textureRect</key>
                <string>{{536,0},{195,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_kuang_wodefangjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,72}</string>
                <key>spriteSourceSize</key>
                <string>{195,72}</string>
                <key>textureRect</key>
                <string>{{731,0},{195,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jrfj_txt_jiarufangjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,40}</string>
                <key>spriteSourceSize</key>
                <string>{165,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{165,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Jrfj.png</string>
            <key>size</key>
            <string>{1984,787}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77c8725f5162da60ded343b56d5d77ee:6b9e1548b8354363017f2e7053f0a9c2:42e639be43de70ad805ef50c325944b7$</string>
            <key>textureFileName</key>
            <string>Jrfj.png</string>
        </dict>
    </dict>
</plist>
