<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pokers-pokers_81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers-pokers_82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{125,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers-pokers_83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{249,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers-pokers_84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{373,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers-pokers_85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{497,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers-pokers_86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{621,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers-pokers_87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{745,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers-pokers_88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{869,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers-pokers_89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{993,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers-pokers_90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{1117,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers-pokers_91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{1241,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers-pokers_92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{1365,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers-pokers_93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{1489,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers-pokers_94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{1613,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pokers_laizi.png</string>
            <key>size</key>
            <string>{1736,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd9cbf1eee1480de68add83587d31e27:e83868f6f079355654a221054dec5087:7f69e675c4e4cbd141528c7e24ae9348$</string>
            <key>textureFileName</key>
            <string>pokers_laizi.png</string>
        </dict>
    </dict>
</plist>
